{% extends "app/layout.html" %}
{% load static %}
{% block content %}


<!-- Start home -->
<section class="bg-half page-next-level">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center text-white">
                    <h4 class="text-uppercase title mb-4">Candidate Profile</h4>
                    <ul class="page-next d-inline-block mb-0">
                        <li><a href="index.html" class="text-uppercase font-weight-bold">Home</a></li>
                        <li>
                            <span class="text-uppercase text-white font-weight-bold">Profile</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->

<!-- POST A JOB START -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="rounded shadow bg-white p-4">
                    <div class="custom-form">
                        <div id="message3"></div>
                        <form method="post" action="{% url 'updateprofile' pk=request.session.id %}" name="contact-form" id="contact-form3" enctype="multipart/form-data">
                            {% csrf_token %}

                            <center>
                                {% if msg %}
                                <h4 style="color: red;">{{msg}}</h4>
                                {% endif %}
                            </center>
                            <h4 class="text-dark mb-3">Post a New Job :</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group app-label mt-2">

                                        <label class="text-muted">First Name</label>
                                        <input type="text" name="firstname" class="form-control resume" placeholder=""
                                            value="{{company.firstname}}">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">Last Name</label>
                                        <input type="text" name="lastname" class="form-control resume" placeholder=""
                                            value="{{company.lastname}}">

                                    </div>
                                </div>
                            </div>
                          
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">Company Name</label>
                                        <input id="dob" type="text" name="company_name" value="={{company.company_name}}" class="form-control resume" placeholder="">
                                    </div>
                                </div>
                                </div>
                    
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">City</label>
                                        <input id="city" type="text" name="city" value="{{company.city}}" class="form-control resume" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">State</label>
                                        <input id="state" type="text" name="state" value="{{company.state}}" class="form-control resume" placeholder="">
                                    </div>
                                </div>

                            </div>
                            

                       
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">Company Website</label>
                                        <input id="url" type="text" name="website" class="form-control resume" placeholder="">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">Email Address</label>
                                        <input id="email-address" type="text" name="email" value="{{user.email}}" class="form-control resume" placeholder="">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">Phone Number</label>
                                        <input id="number" type="text" name="contact" class="form-control resume" placeholder="">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">Address</label>
                                        <textarea id="description" name="address" rows="6" name="jobdescription" class="form-control resume" placeholder=""></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <div class="input-group mt-2 mb-2">
                                                <div class="custom-file">
                                                    <input type="file" name="logo_pic" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                                    <label class="custom-file-label rounded"><i class="mdi mdi-cloud-upload mr-1"></i> Upload Files</label>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="list-inline-item">
                                            <h6 class="text-muted mb-0">Upload Logo Image</h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 mt-2">
                                    <button type="submit" class="btn btn-primary">Update Pofile</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- POST A JOB END -->

<!-- subscribe start -->
<section class="section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="float-left position-relative notification-icon mr-2">
                    <i class="mdi mdi-bell-outline text-primary"></i>
                    <span class="badge badge-pill badge-danger">1</span>
                </div>
                <h5 class="mt-2 mb-0">Your Job Notification</h5>
            </div>
            <div class="col-lg-8 col-md-7 mt-4 mt-sm-0">
                <form>
                    <div class="form-group mb-0">
                        <div class="input-group mb-0">
                            <input name="email" id="email" type="email" class="form-control" placeholder="Your email :"
                                required="" aria-describedby="newssubscribebtn">
                            <div class="input-group-append">
                                <button class="btn btn-primary submitBnt" type="submit"
                                    id="newssubscribebtn">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- subscribe end -->

{% endblock %}